<p>Por país</p>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)="buscar()">
            <input type="text"
                name="termino"
                class="form-control"
                [(ngModel)]="termino"
                placeholder="Buscar Pais...">
        </form>
    </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="hayError">No se encontró nada con el término {{termino}}</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Bandera</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bandera</td>
                    <td>nombre</td>
                    <td>1234567</td>
                    <td>
                        <a href="">ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
